@model MyShop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a class="" href="@Url.Action("Index","Basket")">@Model.BasketCount items</a></li>
    <li><a class="" href="@Url.Action("Index","Basket")">@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("pl"),"{0:C}", Model.BasketTotal) </a></li>
</ul>